node_modules
npm-debug.log*
.yarn-debug.log*
.yarn-error.log*
.pnpm-debug.log*

.env
.env.*
!.env.example
!.env.test.example
!.env.production.example

.git
.github

coverage
.vscode
.idea

Dockerfile
README.md
docs
scripts/verify

dist
*.tsbuildinfo
