# --------------------------------
# APPLICATION
# --------------------------------

NODE_ENV=tests

APP_NAME=arunika-coffee-api-master-data-service-test

APP_HOST=0.0.0.0

APP_PORT=3000


# --------------------------------
# DATABASE
# --------------------------------

DATABASE_HOST=<tests-db-host>

DATABASE_PORT=3306

DATABASE_NAME=arunika_coffee_master_data_test

DATABASE_USER=<tests-db-user>

DATABASE_PASSWORD=<tests-db-password>

DATABASE_URL="mysql://<tests-db-user>:<tests-db-password>@<tests-db-host>:3306/arunika_coffee_master_data_test"

DATABASE_POOL_CONNECTION_LIMIT=5

DATABASE_CONNECT_TIMEOUT_MS=5000

DATABASE_ACQUIRE_TIMEOUT_MS=10000

DATABASE_POOL_IDLE_TIMEOUT_SEC=60


# --------------------------------
# GRPC MASTER DATA
# --------------------------------

GRPC_MASTER_HOST=localhost

GRPC_MASTER_PORT=50053

MASTER_GRPC_TIMEOUT_MS=3000


# --------------------------------
# SECURITY
# --------------------------------

SECURITY_CORS_ORIGINS=<allowed-tests-origins>

SECURITY_RATE_LIMIT_TTL=60000

SECURITY_RATE_LIMIT_MAX=100

SECURITY_BODY_LIMIT=1mb

SECURITY_GRPC_MAX_MESSAGE_BYTES=1048576

SECURITY_TRUST_PROXY=<trusted-proxy>


# --------------------------------
# LOGGING
# --------------------------------

LOG_ENABLED=true

LOG_LEVEL=info


# --------------------------------
# OPENTELEMETRY
# --------------------------------

OTEL_SERVICE_NAME=arunika-coffee-api-master-data-service-test

OTEL_TRACING_ENABLED=true

OTEL_TRACES_SAMPLER_ARG=0.1

OTEL_METRICS_ENABLED=true

OTEL_METRIC_EXPORT_INTERVAL=60000